<template>
  <div id="app" class="small-container">
    <div class="md-layout main-header">
      <main-header v-model="side_nav_toggle"/>
    </div>
    <div class="md-layout md-gutter main-container">
      <div class="md-layout-item md-medium-hide md-size-5 left-side-nav">
        <!-- <left-side-nav /> -->
      </div>
      <div class="md-layout-item md-size-95 md-small-size-100 middle-body">
        <middle-body />
      </div>
    </div>

    <!-- <employee-form @add:employee="addEmployee" /> -->
    <!-- <employee-table :employees="employees"/> -->
  </div>
</template>

<script>
import EmployeeTable from '@/components/EmployeeTable.vue'
import EmployeeForm from '@/components/EmployeeForm.vue'
// import LeftSideNav from '@/components/LeftSideNav/LeftSideNav.vue'
import MiddleBody from '@/components/MiddleBody/MiddleBody.vue'
import MainHeader from '@/components/Shared/MainHeader.vue'
export default {
  name: 'app',
  components: {
    EmployeeTable,
    EmployeeForm,
    // LeftSideNav,
    MiddleBody,
    MainHeader
  },
  data() {
    return {
      employees: [

      ],
      side_nav_toggle: true,
    }
  },
  methods: {
    addEmployee(employee) {
      const lastId =
        this.employees.length > 0
          ? this.employees[this.employees.length - 1].id
          : 0;
      const id = lastId + 1;
      const newEmployee = { ...employee, id };

      this.employees = [...this.employees, newEmployee]
    }
  }
}
</script>

<style lang="scss" scoped>
  #app {
    max-width: 100% ;
    // background-color: green;
    .main-container{
      // background-color: green;
      margin-top: 20px;
      .middle-body{
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }
</style>
