.bmi-container
  .row.trainee-dashboard
    .col-2.trainee-info.d-none.d-xl-block    
      %ul.list-group
        %li.list-group-item Cras justo odio
        %li.list-group-item Dapibus ac facilisis in
        %li.list-group-item Morbi leo risus
        %li.list-group-item Porta ac consectetur ac
        %li.list-group-item Vestibulum at eros
    .col-12.col-lg-10.trainee-visualization
      = render 'static_pages/bmi/bmi_header'
      .trainee-graph
        = chartjs_line_chart @data, @options  
      .trainee-bmi-form
        = render 'static_pages/bmi/bmi_form'
    