.card.home-page
  .card-body        
    .row      
      - @articles.each do |article|
        .col-lg-6.col-sm-6
          = render 'shared/article_container' , article: article
  .card-footer.text-muted    
    .paging-part.text-center
      = paginate @articles
    -# = render 'shared/smart_backlink'