= simple_form_for(@interaction) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :article
    = f.association :user
    = f.input :status

  .form-actions
    = f.button :submit
