h1 Listing interactions

table
  thead
    tr
      th Article
      th User
      th Status
      th
      th
      th

  tbody
    - @interactions.each do |interaction|
      tr
        td = interaction.article
        td = interaction.user
        td = interaction.status
        td = link_to 'Show', interaction
        td = link_to 'Edit', edit_interaction_path(interaction)
        td = link_to 'Destroy', interaction, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Interaction', new_interaction_path
