p#notice = notice

p
  strong Article:
  = @interaction.article
p
  strong User:
  = @interaction.user
p
  strong Status:
  = @interaction.status

=> link_to 'Edit', edit_interaction_path(@interaction)
'|
=< link_to 'Back', interactions_path
