.error-404
  .container
    .row
      .xs-12.md-6.mx-auto
        #countUp
          .number(data-count="404") 404
          .text Page not found
          .text Sorry we cant find what you want
          -# br
          -# .text Please comeback to the home page.
          -# .text I'm probably working on something that has blown up.