.error
  = image_tag("error/alert.png" :width => "150")
  .message
    %strong Error!
    We're sorry, but our server is experiencing problems :(
  .contact_info
    -# = link_to image_tag("error/contact/twitter.png"), "", :title => "Follow Updates On Twitter", :target => "_blank"
    -# = link_to image_tag("error/contact/facebook.png"), "http://www.facebook.com/", :title => "See Progress On Facebook", :target => "_blank"
    -# = link_to image_tag("error/contact/fusion.png"), "", :title => "Catch Our Fusion Feed Updates", :target => "_blank"
    -# = link_to image_tag("error/contact/instagram.png"), "", :title => "See Updates On Instagram", :target => "_blank"
    -# = link_to image_tag("error/contact/youtube.png"), "", :title => "See Updates On YouTube", :target => "_blank"