= simple_form_for(@video) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :article
    = f.input :name
    = f.input :url
    = f.input :format
    = f.input :length

  .form-actions
    = f.button :submit
