h1 Listing videos

table
  thead
    tr
      th Article
      th Name
      th Url
      th Format
      th Length
      th
      th
      th

  tbody
    - @videos.each do |video|
      tr
        td = video.article
        td = video.name
        td = video.url
        td = video.format
        td = video.length
        td = link_to 'Show', video
        td = link_to 'Edit', edit_video_path(video)
        td = link_to 'Destroy', video, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Video', new_video_path
