p#notice = notice

p
  strong Article:
  = @video.article
p
  strong Name:
  = @video.name
p
  strong Url:
  = @video.url
p
  strong Format:
  = @video.format
p
  strong Length:
  = @video.length

=> link_to 'Edit', edit_video_path(@video)
'|
=< link_to 'Back', videos_path
