.simple-header
  .container-fluid
    %nav.navbar.navbar-expand-lg.navbar-dark.sticky-top            
      %a.navbar-brand.nav-with-brand{ :style => "padding: 6px;", :href => home_path}
        %h1.brand-logo
          = ENV["LOGO"]
      -# %a.navbar-brand.bounce{ :style => "padding: 6px;", :href => donate_path}
      -#   Donation
      -# %form.form-inline.my-2.my-lg-0.search-bar
      -#   %input.form-control.mr-sm-2(aria-label="Search" placeholder="Search" type="search")/
      %button.navbar-toggler(aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarTogglerDemo01" data-toggle="collapse" type="button")
        %span.navbar-toggler-icon
      #navbarTogglerDemo01.collapse.navbar-collapse        
        %ul.navbar-nav.ml-auto.mt-2.mt-lg-0
          = link_to "https://www.facebook.com/tuan.vu.kang" do
            %li.nav-item.active.link-to-facebook
              %i.fa.fa-facebook-square(aria-hidden="true")                            
          -#     %span.sr-only (current)
          -# %li.nav-item
          -#   %a.nav-link(href="#") Link
          -# %li.nav-item
          -#   %a.nav-link.disabled(href="#") Disabled
          %li.nav-item
            %a.navbar-brand.ml-auto{ :style => "color: black; padding: 6px;"}
              = render 'devise/menu/registration_items'
          %li.nav-item
            %a.navbar-brand.ml-auto{ :style => "color: black; padding: 6px;"}  
              = render 'devise/menu/login_items'
          &nbsp
          &nbsp
          &nbsp
          &nbsp
        %form.form-inline.my-2.my-lg-0.search-bar
          %input.form-control.mr-sm-2(aria-label="Search" placeholder="Search" type="search")/          