= simple_form_for(@image) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :article
    = f.input :name
    = f.input :url
    = f.input :height
    = f.input :width
    = f.input :format

  .form-actions
    = f.button :submit
