h1 Listing images

table
  thead
    tr
      th Article
      th Name
      th Url
      th Height
      th Width
      th Format
      th
      th
      th

  tbody
    - @images.each do |image|
      tr
        td = image.article
        td = image.name
        td = image.url
        td = image.height
        td = image.width
        td = image.format
        td = link_to 'Show', image
        td = link_to 'Edit', edit_image_path(image)
        td = link_to 'Destroy', image, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Image', new_image_path
