p#notice = notice

p
  strong Article:
  = @image.article
p
  strong Name:
  = @image.name
p
  strong Url:
  = @image.url
p
  strong Height:
  = @image.height
p
  strong Width:
  = @image.width
p
  strong Format:
  = @image.format

=> link_to 'Edit', edit_image_path(@image)
'|
=< link_to 'Back', images_path
