h1 Listing article_tag_records

table
  thead
    tr
      th Article
      th Tag
      th
      th
      th

  tbody
    - @article_tag_records.each do |article_tag_record|
      tr
        td = article_tag_record.article
        td = article_tag_record.tag
        td = link_to 'Show', article_tag_record
        td = link_to 'Edit', edit_article_tag_record_path(article_tag_record)
        td = link_to 'Destroy', article_tag_record, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Article tag record', new_article_tag_record_path
