p#notice = notice

p
  strong Article:
  = @article_tag_record.article
p
  strong Tag:
  = @article_tag_record.tag

=> link_to 'Edit', edit_article_tag_record_path(@article_tag_record)
'|
=< link_to 'Back', article_tag_records_path
