= simple_form_for(@idol) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :alias
    = f.input :country
    = f.input :city
    = f.input :astrological
    = f.input :birthday
    = f.input :debut-year
    = f.input :hair-color
    = f.input :eye-color
    = f.input :height
    = f.input :measurement
    = f.input :tattoos
    = f.input :piercings

  .form-actions
    = f.button :submit
