h1 Listing idols

table
  thead
    tr
      th Alias
      th Country
      th City
      th Astrological
      th Birthday
      th Debut-year
      th Hair-color
      th Eye-color
      th Height
      th Measurement
      th Tattoos
      th Piercings
      th
      th
      th

  tbody
    - @idols.each do |idol|
      tr
        td = idol.alias
        td = idol.country
        td = idol.city
        td = idol.astrological
        td = idol.birthday
        td = idol.debut-year
        td = idol.hair-color
        td = idol.eye-color
        td = idol.height
        td = idol.measurement
        td = idol.tattoos
        td = idol.piercings
        td = link_to 'Show', idol
        td = link_to 'Edit', edit_idol_path(idol)
        td = link_to 'Destroy', idol, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Idol', new_idol_path
