/ p#notice = notice

/ p
/   strong Alias:
/   = @idol.alias
/ p
/   strong Country:
/   = @idol.country
/ p
/   strong City:
/   = @idol.city
/ p
/   strong Astrological:
/   = @idol.astrological
/ p
/   strong Birthday:
/   = @idol.birthday
/ p
/   strong Debut-year:
/   = @idol.debut-year
/ p
/   strong Hair-color:
/   = @idol.hair-color
/ p
/   strong Eye-color:
/   = @idol.eye-color
/ p
/   strong Height:
/   = @idol.height
/ p
/   strong Measurement:
/   = @idol.measurement
/ p
/   strong Tattoos:
/   = @idol.tattoos
/ p
/   strong Piercings:
/   = @idol.piercings

/ => link_to 'Edit', edit_idol_path(@idol)
/ '|
/ =< link_to 'Back', idols_path
