- if user_signed_in? && current_user.admin
  %p#notice= notice
  %h1 Inventory Item Categories
  %table
    %thead
      %tr
        %th Category name
        %th(colspan="3")
    %tbody
      - @idols.each do |idol|
        %tr
          %td= idol.name
          %td= link_to 'Show', idol
          %td= link_to 'Edit', edit_idol_path(idol)
          %td= link_to 'Destroy', idol, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Inventory Item Category', new_idol_path
- else
  .card(style = "margin: 0px 0px;")
    .card-header.idol-intro
      .row.idol-info        
        .col-12.idol-search
          = simple_form_for :search, url: idols_path, method: "GET", html: { class: 'form form-inline my-lg-0 p-2 flex-fill bd-highlight d-flex justify-content-center' } do |f|
            = f.input :name, input_html: {value: ""}, label: false, placeholder: 'Search idols name...'
            -# = f.submit "S", :class => "btn btn-danger"
            = button_tag type: 'submit', class: "button btn btn-danger" do
              %i.fa.fa-dot-circle-o(aria-hidden="true")
                         
              
              
          -# = form_tag idols_path, method: :get do
          -#   = text_field_tag 'name', params[:name], placeholder: "Enter user's name or surname"
          -#   = submit_tag 'Search!'
    .card-body      
      .row
        - @idols.each do |idol| 
          .card.col-sm-6.col-lg-3.col-12.border-0.mb-5.idol-thumb            
            = image_tag ( idol.image.url ), :class => "img-fluid card-img", alt: "idol images"
            .text-center.overlay
              .idols-info
                .text-center.idol-name
                  %h4
                    =idol.name
                .text-center.idol-button
                  = link_to 'Explore', idol, class: 'btn btn-outline-danger btn-lg'
      .paging-part
        = paginate @idols      
