- if user_signed_in? && current_user.admin
  %p#notice= notice
  %p
    %strong Name:
    = @idol.name
  %p
    %strong Description:
    = @idol.description
  %p
    %strong Content:
    = @idol.content
  = link_to 'Edit', edit_idol_path(@idol)
  |
  = link_to 'Back', idols_path
  %br
  = link_to 'New Article', new_idol_path
- else
- content_for :head do
  = tag :meta, property: "og:name", content: @idol.name
  -# = tag :meta, property: "og:description", content: @product.description
  -# = tag :meta, property: "og:url", content: request.url
  -# = tag :meta, property: "og:image", content: @product.image
  -# = tag :meta, property: "og:image:width", content: 1200
  -# = tag :meta, property: "og:image:height", content: 630   
.col.idol-show-container
  .row.idol-bio
    .col-4.idol-image
      = image_tag (@idol.image.url), :class => "img-fluid",alt: "idol images"
    .col-8.idol-info
      .row.idol-name
        %h1
          = @idol.name
      .row.idol-description
        %p
          If she isn’t shooting a new nasty video this Japanese angel can be found playing with something.

  .row.separator.text-center
    .col-2
      .running-line-left
      
    .col-8.idol-video-count
      %h5
        Her latest videos -         
        = @idols_articles.count
        
    .col-2.running-line-right
      -# runing line
  .row.idol-videos
    - @idols_articles.each do |article|
      = render 'shared/article_container' , article: article    
    -# .col-3.col-sm-6