<template>
    <div id="main-header">

      <md-toolbar class="md-primary" md-elevation="1">
        <md-button class="md-icon-button" @click.prevent="toggleSideNav()">
          <md-icon>menu</md-icon>
        </md-button>
        <md-button href="https://bmi.thedevopsguy.net" class="md-primary">BMI Calculation</md-button>
        <md-button href="https://thedevopsguy.net">TheDevOpsGuy.net</md-button>
      </md-toolbar>
      <left-side-nav />
  </div>
</template>

<script>
import LeftSideNav from '@/components/LeftSideNav/LeftSideNav.vue'
  export default {
    name: 'main-header',
    components: {
      LeftSideNav,
    },
    data() {
      return {
        sideNavShowed: false,
      }
    },
    props: {side_nav_toggle: Boolean},
    methods: {
      toggleSideNav: function (event) {
        if (this.sideNavShowed == false){
          document.getElementById("left-side-nav").style.width = "250px";
          document.getElementById("app").style.marginLeft = "250px";
        } else if (this.sideNavShowed == true) {
          document.getElementById("left-side-nav").style.width = "0px";
          document.getElementById("app").style.marginLeft = "0px";
        }
        this.sideNavShowed = !this.sideNavShowed
        // `this` inside methods points to the Vue instance
        // alert('Hello ' + this.side_nav_toggle + '!')
        // `event` is the native DOM event
        // if (event) {
        //   alert(event.target.tagName)
        // }
      }
    },
  }
</script>

<style lang="scss"scoped>
  #main-header {
    width: 100%;
  }
</style>
