<template>
    <div id="bmi-data-table">
      <md-table v-model="trainee_records" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder"  md-card class="bmi-table">
        <md-table-toolbar>
          <div class="md-title">BMI Table</div>
        </md-table-toolbar>

        <md-table-row slot="md-table-row" slot-scope="{ item }">
          <md-table-cell md-label="ID" md-numeric>{{ item.id }}</md-table-cell>
          <md-table-cell md-label="Height (cm)" md-sort-by="height">{{ item.height }}</md-table-cell>
          <md-table-cell md-label="Weight (kg)" md-sort-by="weight">{{ item.weight }}</md-table-cell>
          <md-table-cell md-label="Bmi" md-sort-by="bmi">{{ item.bmi }}</md-table-cell>
          <md-table-cell md-label="Date" md-sort-by="date">{{ item.recored_time  | moment("dddd, MMMM Do YYYY")}}</md-table-cell>
          <!-- <md-table-cell md-label="Gender" md-sort-by="gender">{{ item.gender }}</md-table-cell>
          <md-table-cell md-label="Job Title" md-sort-by="title">{{ item.title }}</md-table-cell> -->
        </md-table-row>
      </md-table>
    </div>
</template>

<script>
  import { DataTable, ItemsPerPageDropdown, Pagination } from 'v-datatable-light';

  const addZero = value => ("0" + value).slice(-2);

  const formatDate = value => {
    if (value) {
      const dt = new Date(value);
      return `${addZero(dt.getDate())}/${addZero(
        dt.getMonth() + 1
      )}/${dt.getFullYear()}`;
    }
    return "";
  };


  export default {
    name: 'bmi-data-table',
    components: {
      DataTable,
      ItemsPerPageDropdown,
      Pagination,
    },
    props: {
      trainee_records: Array,
    },
    data: () => ({
      currentSort: 'name',
      currentSortOrder: 'asc',
      users: this.trainee_records
    }),

    methods: {
      customSort (value) {
        return value.sort((a, b) => {
          const sortBy = this.currentSort

          if (this.currentSortOrder === 'desc') {
            return a[sortBy].localeCompare(b[sortBy])
          }

          return b[sortBy].localeCompare(a[sortBy])
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  #bmi-data-table{
    height: 300px;
    .md-title{
      font-size: 30px;
    }
    .bmi-table{
      padding-left: 10px ;
      padding-right: 10px ;
      max-height: 3000px;
    }
  }
</style>

