!!!
%html
  %head
    = render 'shared/head'
  %body
    %header     
      = render 'shared/simple_header'
      = javascript_include_tag "static_pages/gallery"
    #gallery-container
      #gallery.gallery
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,care")/
            -# .transparent-box
            -#   .caption
            -#     %p
            -#       Vintage
            -#     %p.opacity-low
            -#       Cinematic
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,studied")/
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,substance")/
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,choose")/
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,past")/
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,lamp")/
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,yet")/
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,eight")/
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,crew")/
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,event")/
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,instrument")/
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,practical")/
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,pass")/
        .gallery-item
          .content
            %img(alt="" src="https://source.unsplash.com/random/?tech,bigger")/
        
          
      -# .container-fluid
      -#   = yield                 
      -# %footer
      -#   = render 'shared/footer'
:javascript
  