= simple_form_for(@album) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :type
    = f.input :status

  .form-actions
    = f.button :submit
