h1 Listing albums

table
  thead
    tr
      th Name
      th Description
      th Type
      th Status
      th
      th
      th

  tbody
    - @albums.each do |album|
      tr
        td = album.name
        td = album.description
        td = album.type
        td = album.status
        td = link_to 'Show', album
        td = link_to 'Edit', edit_album_path(album)
        td = link_to 'Destroy', album, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Album', new_album_path
