p#notice = notice

p
  strong Name:
  = @album.name
p
  strong Description:
  = @album.description
p
  strong Type:
  = @album.type
p
  strong Status:
  = @album.status

=> link_to 'Edit', edit_album_path(@album)
'|
=< link_to 'Back', albums_path
