<div id="vote_form">
  <% if user_signed_in? %>
    <% if (current_user.voted_down_on? article) || (!ActsAsVotable::Vote.where(voter_id: current_user,votable_id: article.id).present?) %>
      <%= link_to article_votes_path(article.id), method: :create, remote: true do %>
        <span class="fa fa-thumbs-up"></span>
      <% end %>
    <% else %>
      <%= link_to article_vote_path(article,0), method: :delete, remote: true do %>
        <span class="glyphicon glyphicon-heart"></span>
      <% end %>
    <% end %>
  <% end %>
  <%= t "articles.show.like" %><%= article.get_upvotes.size %>
  <%= raw article.votes_for.up.by_type(User).voters.map { |voter| link_to voter.email, "#" }.join(', ') %>
</div>