-# = form_with(model: article, local: true) do |form|
-#   - if article.errors.any?
-#     #error_explanation
-#       %h2
-#         = pluralize(article.errors.count, "error")
-#         prohibited this article from being saved:
-#       %ul
-#         - article.errors.full_messages.each do |message|
-#           %li= message
-#   .field
-#     = form.label :name
-#     = form.text_field :name
-#   .field
-#     = form.label :description
-#     = form.text_area :description
-#   .field
-#     = form.label :content
-#     = form.text_area :content, id: :article_body
-#   .field
-#     = form.label :image
-#     = form.file_field  :image
-#   .field
-#     = form.label :tags
-#     = select :"authy-countries", [], name: 'country_code', 'data-show-as': 'number'
-#   .actions
-#     = form.submit

-# = form_for Article.new, method: 'post', :html => { :multipart => true }, class: "form-block" do |f|
-#   .form-block_container
-#     .form-block_input
-#       .form-block_avatar_file
-#         .file_droparea
-#           %p.file_msg.js-set-number Choose your files or drag them here
-#           = f.file_field :photo, multiport: false, class: "file_input", type: :file, multiple: false, required: true

= simple_form_for @article, url: article_path do |f|
  = f.input :name
  = f.input :description
  = f.input :content
  = f.input :image
  = f.input :tag_ids, as: :select, collection: Tag.order(:name), label_method: :name, input_html: {multiple: true}
  = f.submit "Next", class: 'btn btn-lg btn-primary float-right'