- if user_signed_in? && current_user.admin       
  %p#notice= notice
  %h1 Articles
  %table
    %thead
      %tr
        %th Name
        %th Description
        %th Content
        %th(colspan="3")
    %tbody
      - @articles.each do |article|
        %tr
          %td= article.name
          %td= article.description
          %td= article.content
          %td= link_to 'Show', article
          %td= link_to 'Edit', edit_article_path(article)
          %td= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }
  %br
  = link_to 'New Article', new_article_path
- else           
.card(style = "margin: 0px 0px;")
  .card-header
    = link_to 'Featured Articles', home_path
  -#   = paginate @static_pages
  -#   = page_entries_info @static_pages
  .card-body        
    .row
      - @articles.each do |article|             
        = render 'shared/article_container' , article: article
        -# .card.col-lg-3.col-md-3.border-0(style = "margin: 0px 0px;color: black;")        
        -#   = link_to article_path(article.id) do                
        -#     = image_tag ( article.image ), :style => "height: 100%; width: 100%; max-height: 250px;", alt: "article images"
        -#     .card-body(style = "color: black;")
        -#       .float-left.col-lg-10.col-md-10
        -#         %h5.card-title
        -#           =article.name                
        -#       .float-right.col-lg-2.col-md-2.p-0
        -#         %p.card-text
        -#           = article.visitcount
        -#           %span.fa.fa-eye

        