- if user_signed_in? && current_user.admin
  %p#notice= notice
  %p
    %strong Name:
    = @article.name
  %p
    %strong Description:
    = @article.description
  %p
    %strong Content:
    = @article.content
  = link_to 'Edit', edit_article_path(@article)
  |
  = link_to 'Back', articles_path
  %br
  = link_to 'New Article', new_article_path
- else
= javascript_include_tag 'articles'
.article-container.row
  .col-1.d-none.d-xl-block
    .article-sticky-likes.d-flex.flex-column.align-items-center.mx-auto      
      .article-voting
        = link_to upvote_interactions_path(:interaction => {:article_id => @article.id, :anohash => cookies[:anonymous_user], :status => "like"}), method: :post, remote: :true do
          .btn.btn-outline-secondary.btn-upvote
            = fa_icon "thumbs-up"
          -# %i.fas.fa-thumbs-up
        .vote-count
          %p
            = @article.interactions.where(:status => "like").count - @article.interactions.where(:status => "dislike").count
        = link_to downvote_interactions_path(:interaction => {:article_id => @article.id, :anohash => cookies[:anonymous_user], :status => "dislike"}), method: :post, remote: :true do
          .btn.btn-outline-secondary.btn-downvote
            = fa_icon "thumbs-down"
        -# %br
        -# %br
        -# = social_share_button_tag('Share to Facebook', :allow_sites => %w(twitter facebook), :url => article_path(@article), desc: @article.name)
        = link_to "https://www.facebook.com/tuan.vu.kang" do
          .btn.btn-outline-secondary.share-to-facebook
            = fa_icon "facebook-f"
        -# = link_to "https://www.facebook.com/tuan.vu.kang" do
        -#   .btn.btn-outline-secondary.share-to-twitter
        -#     = fa_icon "twitter"
        
            
  .col-12.col-lg-11.article-information
    .card-body#article-info-scroll
      %div.text-center(style = "background-color: black;")          
        -# = video_tag([@article.video.url], :autoplay => false, :loop => false, :controls => true, :controlslist => "nodownload", :width => "100%", :oncontextmenu => "return false;")
        -# %video#my-video-player(controls="" controlslist="nodownload" height="auto" oncontextmenu="return false;" width="854")
        -#   %source(src="http://embed.wistia.com/deliveries/afe41e4a3b366c5599fb17d96c469ad85007e2df/file.mp4" type="video/mp4")
      -# %iframe(allowfullscreen="" frameborder="0" height="400px" src="https://niceporn.s3-ap-southeast-1.amazonaws.com/video-prod/Best+5+Minute+Abs+Workout+-+FLEX+FRIDAY+(HD-720p).mp4" width="100%")    
      -# = video_tag(["https://firebasestorage.googleapis.com/v0/b/funniq-78dbd.appspot.com/o/funniq_development%2Fu12-65-1569754278666?alt=media&token=23ca3baa-0354-4a89-861b-1911f3c14dfa", "https://niceporn.s3-ap-southeast-1.amazonaws.com/video-prod/Best+5+Minute+Abs+Workout+-+FLEX+FRIDAY+(HD-720p).mp4"], size: "160x120")
      %h2.card-title
        =markdown(@article.name)
      %p.card-text
        -# = table_of_contents()
        = markdown(@article.content)
      .d-flex.flex-row
        %h6
          Tags:
          - @video_tags.each do |tag|
            = link_to tag_path(tag), :class => "tags_link_to" do
              %span.badge.badge-secondary
                = tag.name

        %h6.card-text(style =  "margin-left: auto;")
          %span.fa.fa-eye
          = @article.visitcount          
          -# %h4
          -# Model:      
          -# - @article.idols.each do |idol|
          -#   = link_to idol_path(idol), :class => "tags_link_to" do
          -#     %span.badge.badge-secondary
          -#       = idol.name
      
    .card-footer.text-muted
      .paging-part
        = paginate @all_articles      
        -# = paginate @all_articles
      -# = render 'shared/smart_backlink'
      -# Updated at:
      -# =@article.updated_at
-# - if @section>0
-#   :javascript
-#     // <!--
-#     document.location.hash="#section#{@section}";
    //document.location.hash="#section#1";
    // -->

