.shared-article-container{
    border: none;
    // border-color: ;
    text-decoration: none;
    color: black;
    padding: 0px 4px;  
    transition: transform .2s;

    .article-card{
       
      .article-image:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
      }
    }

    a{
        text-decoration: none;
        color: #000;
    }    

    .article-image {
        position: relative; 
        height: auto; 
        width: 100%;
        transition: transform .2s;
        img{
            height: auto;
            max-height: 200px;
        }

        .article-image:hover{
          -ms-transform: scale(1.5); /* IE 9 */
          -webkit-transform: scale(1.5); /* Safari 3-8 */
          transform: scale(1.5);
          opacity: 0.8;
        }

        .article-image:hover+.overlay,
        .overlay:hover{
            // display: block !important;
            // z-index: 2;
            opacity: 0.3;
        }

        .overlay {
            position:absolute;
            top:0;
            left:0;        
            height:100%;
            width:100%;
            background:rgb(81, 162, 255);
            display: block;
            opacity: 0;                  
            z-index: 1;            

            .play-icon{
                margin-left: 42%;
                opacity: 1;                                
                align-self: center;
                height: 60px;                
                
                img{
                    
                    // align-self: center;
                    height:100%
                }
            }
        }
   
    }
     
    .article-name{
        // font-size: 1.5vw;
        padding-top:  4px;
        text-decoration: none;
        padding-left: 4px;
        // border-bottom: 1px solid black;
    }

    .article-info{
        // padding-top: 20px;
        padding-left: 0px;
        .fa-thumbs-up.fa{
            color: red !important;
        }        
    }
}

// .shared-article-container:hover{
//   -ms-transform: scale(1.5); /* IE 9 */
//   -webkit-transform: scale(1.5); /* Safari 3-8 */
//   transform: scale(1.5); 
// }

// .article-container:hover {
//     background-color: grey;
// }