// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-container {
  // position: relative;
  .article-sticky-likes{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    // background-color: #cae8ca;
    // border: 2px solid #4CAF50;
    // padding-bottom: 5px;
    .article-voting{
      text-align: center;
      .btn-upvote{
        width: 50px; 
        height: 50px; 
        padding: 7px 10px; 
        border-radius: 25px; 
        font-size: 20px; 
        text-align: center;
        
        // background-color: white;
        // color: green;
        // border: grey 1px solid;
      }

      // .btn-upvote:hover{        
      //   // border: blue;
      //   // color: white;        
      // }

      .vote-count{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .btn-downvote{
        width: 50px; 
        height: 50px; 
        padding: 7px 10px; 
        border-radius: 25px; 
        font-size: 20px; 
        text-align: center;
      }

      .share-to-facebook{
        width: 50px; 
        height: 50px; 
        margin-top: 10px;
        padding: 7px 10px; 
        border-radius: 25px; 
        font-size: 20px; 
        text-align: center;        
      }
      .share-to-twitter{
        width: 50px; 
        height: 50px; 
        margin-top: 10px;
        padding: 7px 10px; 
        border-radius: 25px; 
        font-size: 20px; 
        text-align: center;
        i {
          margin: 0px;
          font-size: 25px;
          // color:
        }     
      }
    }
  }

  .recent-article-list{
      background-color: black;
  }

  .nav-with-brand{
      color: white;
  }

  .bottom-video-card{
      height: auto;
      width: 100%; 
      max-height: 220px;
  }   

  .tags_link_to{
      text-decoration:none;
  }
}
