.bmi-container{
	.trainee-dashboard {
    margin-top: 20px;
    // max-height: 400px;
    .trainee-info{
      img{
        max-height: calc(100% - 10px);
        max-width: 100%;
      }
      
    }
    .trainee-description{

    }
  }
  .trainee-visualization{    
    .trainee-graph{
      height: 500px;
      .trainee-bmi-graph{
        // max-height: 400px !important;
        // max-width: 100vw;
        // height:auto !important;
        // width:100%;
        // max-height:100vh;
      }      
    }
    @media screen and (max-width: 400px) {
      .trainee-graph{
        height: 300px !important;
        .trainee-bmi-graph {
          // background-color: lightgreen;
          // height: auto;
          // height:100vh !important;
        }
      }
    }
  }
}
