// Place all the styles related to the ArticleIdolRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// html { 
//   background: url("https://i.ibb.co/S67GzsT/marvin-meyer-hwk-TELb-KW2s-unsplash.jpg") no-repeat center center fixed; 
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
.donate {
  .wrapping-div{
    background: url("https://i.ibb.co/f1zsmrK/marvin-meyer-hwk-TELb-KW2s-unsplash-after-resize.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%;
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    text-align: center;
    margin: 0px 0px;
    min-height: 200px;
    background-color: rgba(33, 33, 33, .3);
      .top-left-corner{
        position: absolute; 
        top: 0; 
        left: 0; 
        height: 10%;
        width:  10%;
        // border: 2px green solid;
      }
      .running-div {
        width: 100px;
        height: 100px;
        background-color: red;
        position: relative;
        animation-name: example;
        animation-duration: 10s;
        animation-delay: -2s;
      }
      .center-div{        
        height: 60%;
        width:  100%;
        align-self: bottom;
        // border: 2px green solid;
        .please-donate{
          color: white
        }
        .donate-methods{
          height:100%;
          .method-2{
            // border: 2px green solid;
            height: 100%;
            img{
              border-radius: 50% !important;
              padding: 0px 5%;
            }
            .method-name{
              font-size: 32px;
              color: whitesmoke;
            }
          }
        }
      }
  }
}


@keyframes example {
  0%   {background-color:red; left:50%; top:2000px;}
  25%  {background-color:yellow; left:50%; top:1500px;}
  50%  {background-color:blue; left:50%; top:1000px;}
  75%  {background-color:green; left:50%; top:900px;}
  100% {background-color:red; left:50%; top:800px;}
}