.brand-logo{
    color: rgb(55, 83, 102);
}

.fixed-top-header {
  background-image: url("https://images.unsplash.com/photo-1468581264429-2548ef9eb732?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-color: #ffffff;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .navbar-light.color-changed{
    background-color:rgb(101, 163, 204)!important;
  }

  .navbar {
      background: transparent;
      // background-color: black; 
      color: rgb(0, 0, 0); 
      padding: 6px;
    .link-to-facebook{
      color: rgb(26, 49, 65);
    }
  }
  
  .search-bar {
    input[type=search]{            
      background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
      border: solid 1px #ccc;
      padding: 9px 10px 9px 32px;
      width: 55px;
      padding-left: 10px;
      color: transparent;
      cursor: pointer;
      
      -webkit-border-radius: 10em;
      -moz-border-radius: 10em;
      border-radius: 10em;
      
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;
    }

    input[type=search]:hover {
      background-color: #fff;
    }

    input[type=search]:focus {
      padding-left: 32px;
      color: #000;      
      cursor: auto;

      width: 130px;
      background-color: #fff;
      border-color: #66CC75;
      
      -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
      -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
      box-shadow: 0 0 5px rgba(109,207,246,.5);
    }

    input:-moz-placeholder {
      color: transparent;
    }

    input::-webkit-input-placeholder {
      color: transparent;
    }
  }

  .description {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(39, 47, 53);

    .tuans-image{
      // text-align: center;      
      // padding-left: 30%;
      width: 50px;
      height: 50px;

      %img{
        width: 50px;
        height: 50px;
      }
    }
  }
}

