// Place all the styles related to the Idols controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.idol-thumb{
    // padding: 0px;
    padding-right: 5px;
    padding-left: 0px;
    img:hover+.overlay,
    .overlay:hover {        
        display: block;  
        z-index: 1;
        opacity: 0.8; 
    }

    img:active +.overlay,
    .overlay:active {
        display: block;  
        z-index: 1;
        opacity: 0.8; 
      }

    .overlay {
        position:absolute;
        top:0;
        left:0;        
        height:100%;
        width:98%;
        background:black;
        display: block;
        padding-top: 30%;
        padding-bottom: 30%;  
        // margin-right: 5px;
        padding-left: 0px;
        z-index: -1;

        .idols-info{
            margin: auto;
            height: 100%;
            width: 50%;
            // border: 3px solid green;
            padding: 10px;

            .idol-name{
                font-size:5vw;
                color: white;
                width: 100%;
                height: 50%;
                padding-top: 20%;
            }

            .idol-button{         
                padding-top: 20%;
            }
        }
    }
}

.idol-show-container{
    background-color: white;
    .idol-bio{
        .idol-image{
            padding-top: 10px;
            img{
                width: 100%;
            }
        }

        .idol-info{
            padding-top: 10px;
            .idol-name{
                border-bottom: 1px solid black;
            }
            .idol-description{
                padding-top: 10px;
            }
        }
    }

    .separator{
        align-self: center;
        margin-top: 30px;
        margin-bottom: 20px;
        .running-line-left{
            align-self: center;
            background-color: black;
            width: 100px;
            // height: 100px;
            // background: red;
            // position: relative;
            // animation: myfirst 5s 2;
            // animation-direction: alternate;
        }

        .idol-video-count{
            border-bottom: 2px solid black;
        }

        .running-line-right{
            
        }
    }

    .idol-videos{

    }
}
