.left-list{
  border: none;
  .left-list-header{
    border: none;
  }

  .left-list-item{
    border: none;
    // padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
    
    .list-content{
      // border-bottom: 1px solid grey  ;
      .list-article-image{
        img{          
          height: 5rem;
          width: 5rem;
          // max-height: 60px;
        }
      }
      .list-article-description {
        // padding-right: 100px;
        text-decoration: none;
        .list-article-name{
          color: black;
          text-decoration: none;
          h6{
            color: black;
            text-decoration: none;
          }
          
        }
      }

      }
    }
  }    