
.paging-part{

    // padding-left: 35%;
    // justify-content: center;
    .pagination a, .pagination span.current, .pagination span.gap {
    
        float: left;
        padding: 0 14px;
        line-height: 38px;
        text-decoration: none;
        background-color: #000000;
        color: #db2121;
        border: 1px solid #000000;
        border-left-width: 0;
    }
    
    .pagination {
        
        margin: auto;
    
        border-left: 1px solid #000000;
        .current{
            font-weight: 150 !important;
            color: white !important;
        }

        .first{
            padding : 0;
            float: none;
            border: none;
        }
        .prev {
            padding : 0;
            float: none;
            border: none;
        }
        .page{
            padding : 0;
            float: none;
            border: none;
        }
        .next{
            padding : 0;
            float: none;
            border: none;
        }
        .last{
            padding : 0;
            float: none;
            border: none;
        }
    }
}
