/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 //*= require trix

@import 'custom';
@import "bootstrap";
@import "font-awesome";
@import "plyr";
@import "_articles";
@import "_idols";
@import "_home_page";
@import "_article_container";
@import "_donate";
@import "_pagination";
@import "_tags";
@import "_devise";
@import "_header";
@import "_errors";
@import "_left_list";
@import "_simple_header";
@import "_bmi";
@import "static_pages/gallery";
@import "social-share-button";
// @import "./*";

.navbar-toggler{
  // border-color: red !important;
  background-color: white;
  color: white;
  .navbar-toggler-icon{
    background-color: white; 
    color: white;
  }
}

.carousel-image
{
  width: 540px;
  height: 639px
}

body
{
  background-color: white;
  .tag-line{
    .text-center{
      .tag-badge{
        background-color: white;
        border: 1px solid rgb(101, 154, 197);
        color: rgb(101, 154, 197);
      }

      .tag-badge:hover{
        background: rgb(101, 154, 197);
        color: white;
        letter-spacing: 2.5px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
      }
    }
  }
}

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
  color:000;
}
.fa-twitter{
	color: #027bdd;
  font-size: 30px;
  margin: 20px;
}
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

.tag-header{
  background-color: #d93434; 
  color: white;
}

.tag-body{
  color: black;

  .tag-image {
    padding: 0px;
  }
  .tag-name {
    padding: 0px; 
    color: black; 
  }
}

.search-hiding-large{
  .search_name {
    margin: 0px 0px !important;
    // margin-top: 10px !important;
  }
}

// For media viewpoint
@media (min-width: 576px) { 
  .search-hiding-large{
    .search_name{
      margin: 0px !important;
      margin-top: 10px !important;
    }
  }
  
}
