<template>
    <div id="left-side-nav">
      <md-list>
        <md-list-item>
          <md-icon>dialpad</md-icon>
          <span class="md-list-item-text">Calculator</span>
        </md-list-item>

        <md-list-item>
          <md-icon>library_books</md-icon>
          <span class="md-list-item-text">Charter</span>
        </md-list-item>

        <md-list-item href="https://thedevopsguy.net">
          <md-icon>accessibility_new</md-icon>
          <span class="md-list-item-text">Donate me</span>
        </md-list-item>

        <!-- <md-divider class="md-inset"></md-divider> -->
      </md-list>
  </div>
</template>

<script>
  export default {
    name: 'left-side-nav',

  }
</script>

<style lang="scss" scoped>
  #left-side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(238, 247, 253);
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    .md-list {
      width: 320px;
      max-width: 100%;
      display: inline-block;
      vertical-align: top;
      border: 1px solid rgba(#000, .12);
    }
  }
</style>
