<template>
    <div id="bmi-graph" >
      <div class="line-chart" v-if="trainee_records" >
        <!-- <line-chart :chartdata="datacollection" :options="chartOptions" > -->
        <line-chart :chartData="datacollection" :options="chartOptions" >
        </line-chart>
        <!-- <button @click="fillData()">Randomize</button> -->
      </div>
  </div>
</template>

<script>
  // import { Bar } from 'vue-chartjs'
  import LineChart from './LineChart.js'
  export default {
    name: 'bmi-graph',
    components: {
      LineChart
    },
    props: {
      trainee_records: Array,
      line_graph_updated: Boolean
    },
    data () {
      return {
        datacollection: {},
        chartOptions: {
          height: "auto",
          class: "trainee-bmi-graph",
          aspectRatio: 2,
          maintainAspectRatio: false,
          responsive: true,
            title: {
              display: true,
              text: 'My BMI'
            },
            tooltips: {
              mode: 'index',
              intersect: false,
            },
            hover: {
              mode: 'nearest',
              intersect: true
            },
            scales: {
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Day'
                }
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'BMI'
						}
					}]
				}
        }
        // labels: null
      }
    },
    computed: {
      // chartData: function() {
      //   return this.data;
      // },
      // labels: function() {
      //   return this.fillLabel(this.trainee_records);
      // },
    },
    mounted () {
       this.fillData()

    },
    updated: function () {

      // alert(this.line_graph_updated)
      // if (this.line_graph_updated == true)
      // {
      //   this.fillData()
      // }
      // this.line_graph_updated = false

      // this.fillData()
      // this.datacollection.labels = this.fillLabel(this.trainee_records)
      // this.renderLineChart(this.datacollection, this.chartOptions);
      // this.datacollection.labels = this.fillLabel(this.trainee_records)
      // console.log(this.datacollection)
    },
    beforeMount () {
        // this.childData = this.parentData // save props data to itself's data and deal with it
        // alert("dsfdsf")
    },
    methods: {
      renderLineChart: function() {
      // this.renderChart(
      //   {
      //     labels: ["January", "February", "March", "April", "May", "June", "July"],
      //     datasets: [
      //       {
      //           label: "My BMI",
      //           // # backgroundColor: "rgba(151,187,205,0.2)",
      //           backgroundColor: "rgba(151,187,205,0.2)",
      //           borderColor: "rgba(255, 0, 0)",
      //           hoverBorderWidth: 100,
      //           // # hoverBorderColor: "white",
      //           // # pointHoverBorderColor: "white",
      //           pointHoverBorderWidth: "10",
      //           borderWidth: 4,
      //           hoverBackgroundColor: "white",
      //           data: [32, 33, 34, 35, 36, 37, 38]
      //       }
      //     ]
      //   },
      //   { responsive: true, maintainAspectRatio: false }
      // );
      },
      fillData () {
        this.datacollection = {
          labels: this.fillLabel(this.trainee_records),
          datasets: [
            {
              label: 'Data One',
              backgroundColor: '#f87979',
              data: this.fillLineData(this.trainee_records)
            }
          ]
        }
        this.chartOptions ={
          height: "auto",
          class: "trainee-bmi-graph",
          aspectRatio: 2,
          maintainAspectRatio: false,
          responsive: true,
            title: {
              display: true,
              text: 'My BMI'
            },
            tooltips: {
              mode: 'index',
              intersect: false,
            },
            hover: {
              mode: 'nearest',
              intersect: true
            },
            scales: {
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Day'
                }
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'BMI'
						}
					}]
				},
        }
      },
      getRandomInt () {
        return Math.floor(Math.random() * (50 - 5 + 1)) + 5
      },
      fillLabel (trainee_records) {
        let labels = []
        trainee_records.forEach(e => {
          labels.push(e.recored_time);
        });
          return labels;
          // console.log(labels);
        },
      fillLineData (trainee_records) {
        // console.log(trainee_records);
        let line_data = []
        trainee_records.forEach(e => {
          line_data.push(e.bmi);
        });
          return line_data;
        }
    }
  }

</script>

<style lang="scss" scoped>
  .line-chart {
    // width: 320px;
    // max-width: 100%;

    // vertical-align: top;
    // border: 1px solid rgba(#000, .12);

    // height: 600px;
    // width: 10 00px;
    .trainee-bmi-graph{
      display: block !important;
      height: 600px;
    }
  }
</style>
