.shared-article-container
  .card.article-card(style="width: 100%; border: none")
    = link_to article_path(article) do      
      .article-image
        .overlay.d-flex.text-center
          .play-icon.align-self-center
            -# .btn.btn-primary.btn-show-link#showlink
            -#   = fa_icon "thumbs-up"
            -# = image_tag ("https://cdn3.iconfinder.com/data/icons/iconic-1/32/play_alt-512.png"), alt: "play icon image"
        = image_tag ( article.image ), :class => "img-fluid card-img-top", alt: "article image"
    .card-body.article-info
      %p.card-text 
        = article.created_at.strftime("%F")
      %h5.card-title
        = link_to article_path(article) do 
          = article.name        
      %p.card-text 
        = article.description
      .card-footer.text-muted.row
        - article.tags.each do |tag|
          = link_to tag_path(tag), :class => "tags_link_to" do
            %span.badge.badge-pill.badge-light
              = tag.name
          -# = tag.name
        .ml-auto
          =article.created_at.strftime("%d/%m/%Y")
      -# %a.btn.btn-primary
      -#   Explore
  -# .article-image  
    -# .overlay.d-flex.text-center
    -#   .play-icon.align-self-center
    -#     = image_tag ("https://cdn3.iconfinder.com/data/icons/iconic-1/32/play_alt-512.png"), alt: "play icon image"
  -#   = image_tag ( article.image ), :class => "img-fluid card-img", alt: "article image"
  -# .article-name 
  -#   %h6      
  -#     = article.name                  
  -# .article-info
  -#   .row.align-text-bottom
  -#     .col-6.text-left
  -#       %a 56m:12s - 720p
  -#       %br
  -#       %a
  -#         = tell_time_in_words(article)
  -#       -# = article.video.format
  -#     .col-3.text-right
  -#       = article.visitcount
  -#       %span.fa.fa-eye
  -#     .col-3.text-right
  -#       .row          
  -#         = calculate_likes(article)
  -#         = form_tag interactions_create_path, method: :post, remote: true do
  -#           = button_tag type: 'submit', :class => "btn ", :style => "padding-top: 0px;" do
  -#             %span.fa.fa-thumbs-up
        -# #like-button
        -#   = button_to "create", interactions_create_path, method: :post, remote: :true do
        -#     %span.fa.fa-thumbs-up
