%meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
%meta(content="width=device-width, initial-scale=1.0" name="viewport")/
%meta(http-equiv="content-language” content=”en-us”>")/
%link(hreflang=locale rel="alternate")/
= tag :meta, property: "og:site_name", content: "thedevopsguy.net"
= tag :meta, property: "og:type", content: "website"
= yield :head
-# %title HD-Project
= display_meta_tags site: 'Thedevopsguy.net'
= csrf_meta_tags
= csp_meta_tag    
= render 'layouts/google_analytics'
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= favicon_link_tag asset_path('favicon.png')