= javascript_include_tag "shared/_header"
.fixed-top-header
  .container
    %nav.navbar.navbar-expand-lg.navbar-light.bd-light.sticky-top            
      %a.navbar-brand.nav-with-brand{ :style => "padding: 6px;", :href => home_path}
        %h1.brand-logo
          = ENV["LOGO"]
      -# %a.navbar-brand.bounce{ :style => "padding: 6px;", :href => donate_path}
      -#   Donation
      -# %form.form-inline.my-2.my-lg-0.search-bar
      -#   %input.form-control.mr-sm-2(aria-label="Search" placeholder="Search" type="search")/
      %button.navbar-toggler(aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarTogglerDemo01" data-toggle="collapse" type="button")
        %span.navbar-toggler-icon
      #navbarTogglerDemo01.collapse.navbar-collapse        
        %ul.navbar-nav.ml-auto.mt-2.mt-lg-0
          = link_to "https://www.facebook.com/tuan.vu.kang" do
            %li.nav-item.active.link-to-facebook
              %i.fa.fa-facebook-square(aria-hidden="true")                            
          -#     %span.sr-only (current)
          -# %li.nav-item
          -#   %a.nav-link(href="#") Link
          -# %li.nav-item
          -#   %a.nav-link.disabled(href="#") Disabled
          %li.nav-item            
            %a.navbar-brand.ml-auto{ :style => "color: black; padding: 6px; text-decoration: none"}  
              = link_to "BMI", "https://bmi.thedevopsguy.net", { :style => "color: black; text-decoration: none"}  
          %li.nav-item            
            %a.navbar-brand.ml-auto{ :style => "color: black; padding: 6px; text-decoration: none"}  
              = link_to "Gallery", "/gallery", { :style => "color: black; text-decoration: none"}                 
          -# %li.nav-item
          -#   %a.navbar-brand.ml-auto{ :style => "color: black; padding: 6px;"}
          -#     = render 'devise/menu/registration_items'
          -# %li.nav-item
          -#   %a.navbar-brand.ml-auto{ :style => "color: black; padding: 6px;"}  
          -#     = render 'devise/menu/login_items'                    
              
          &nbsp
          &nbsp
          &nbsp
          &nbsp
        = simple_form_for :search, url: articles_path, method: "GET", html: { class: 'form form-inline my-2 my-lg-0 search-bar'} do |f|
          = f.input :name, input_html: {value: "", type: "search"}, label: false, placeholder: 'Search ...', class: 'form-control mr-sm-2'
          -# = f.submit "Search", class: "btn"
        -# %form.form-inline.my-2.my-lg-0.search-bar
        -#   %input.form-control.mr-sm-2(aria-label="Search" placeholder="Search" type="search")/
          -# %button.btn.btn-outline-success.my-2.my-sm-0(type="submit") S
          -# %li.navbar.navbar-expand-lg.navbar-light.d-block.d-lg-none(style = "background-color: black; color: white; padding: 6px;")
             btn-danger"
    .description      
      .tuans-image
        -# = image_tag ("https://nganhangphapluat.thukyluat.vn/images/CauHoi_Hinh/9eb6abaa-8cda-456c-ad66-26ba4da23ffe.jpg"), alt: "play icon image", class: "img-fluid"    
      #someId
        %h1(style="font-size:50px") Hi, I am the DevOps guy
        -# %h3(style="color: #4a7b91") And I'm a developer      
      -# %button Hire me
  
      
  -# %a.navbar-brand

    
-# %nav.navbar.navbar-expand.navbar-light.bd-light(style = "background-color: black; color: white; padding: 6px;")
-#   %a.nav-brand.nav-with-brand{ :style => "color: white; padding: 6px;", :href => tags_path}
-#     Tags
-#   %a.nav-brand.nav-with-brand{ :style => "color: white; padding: 6px;", :href => idols_path}
-#     Models  
-#   .mx-auto.order-0
-#     %a.navbar-brand.mx-auto
-#       .d-none.d-lg-block.d-xl-block               
-#         = simple_form_for :search, url: articles_path, method: "GET", html: { class: 'form form-inline my-lg-0 p-2 flex-fill bd-highlight d-flex justify-content-center' } do |f|
-#           = f.input :name, input_html: {value: ""}, label: false, placeholder: 'Search videos...'
-#           = f.submit "Search", class: "btn btn-danger"
-#   .ml-auto.order-0{ :style => "margin-left: 6px !important; "}
    -# %a.navbar-brand.ml-auto{ :style => "color: white; padding: 6px;"}
    -#   = render 'devise/menu/registration_items'
    -# %a.navbar-brand.ml-auto{ :style => "color: white; padding: 6px;"}  
    -#   = render 'devise/menu/login_items'
-# .search-hiding-large        
  -# %nav.navbar.navbar-expand-lg.navbar-light.d-block.d-lg-none(style = "background-color: black; color: white; padding: 6px;")
  -#   = simple_form_for :search, url: articles_path, method: "GET", html: { class: 'form form-inline my-lg-0 p-2 flex-fill bd-highlight d-flex justify-content-center' } do |f|
  -#     = f.input :name, input_html: {value: ""}, label: false, placeholder: 'Search videos...'
  -#     = f.submit "Search", class: "btn btn-danger"
