%ul.list-group.left-list
  %li.list-group-item.left-list-header
    %h4
      Latest posts
  - @articles_right_nav.each do |article|  
    %li.list-group-item.left-list-item
      .row.list-content
        .col-4.list-article-image
          = link_to article_path(article) do
            = image_tag (article.image), alt: "play icon image", class: "img-fluid rounded-circle"    
        .col-8.list-article-description
          .row
            - article.tags.each do |tag|
              = tag.name              
          .row
            = link_to article_path(article) do
              %h6.list-article-name.inactive
                = article.name.truncate_words(6)