-# - binding.pry
- paths = session[:paths_visited]
- path_index = paths.index(@path_name)
- url = paths[path_index - 1].split("|").first
- named_route = paths[path_index - 1].split("|").last
- capitalize_text = named_route.gsub("_", " ").split.map(&:capitalize).join(" ").tr('/', '')
.backlink-css
= link_to "Back to #{capitalize_text}", url ,class: 'btn btn-danger ' if not current_page?(admin_root_path) 
-# = link_to (admin_root_path) 
