<%# # views/shared/_smart_backlink.html.erb %>
<% paths = session[:paths_visited] %>
<% path_index = paths.index(@path_name) %>
<% url = paths[path_index - 1].split("|").first %>
<% named_route = paths[path_index - 1].split("|").last %>
<% capitalize_text = named_route.gsub("_", " ").split.map(&:capitalize).join(" ") %>

<div class="body--padding">
  <%= link_to "Back to #{capitalize_text}", url if not current_page?(admin_path)  %>
</div>