<template>
  <div id="bmi-calculator">
    <form @submit.prevent="handleSubmitTraineeRecord">
    <md-card>

      <md-card-header>
        <md-card-header-text>
          <div class="md-title">
            BMI - {{ trainee.bmi }} kg/m<sup>2</sup>
            <br>
            <span
              :class="className"
              v-if="trainee.message"
            >
              {{ trainee.message }}
            </span>
            <span
              class="gray"
              v-else
            >
            Enter your height and weight
            </span>
          </div>
        </md-card-header-text>

      </md-card-header>
      <md-card-content>
        <md-field>
          <label>Height (cm)</label>
            <md-input
              autocomplete="off"
              type="number"
              pattern="-?[0-9]*(\.[0-9]+)?"
              id="height"
              v-model="trainee.height"
              @input="calculate()"
              required
            ></md-input>
        </md-field>

        <!-- <md-field :class="messageClass"> -->
        <md-field >
          <label>Weight (kg)</label>
          <md-input
            autocomplete="off"
            type="number"
            pattern="-?[0-9]*(\.[0-9]+)?"
            id="weight"
            v-model="trainee.weight"
            @input="calculate()"
            required
          >
          </md-input>
          <span class="md-error">There is an error</span>
        </md-field>
      </md-card-content>

      <md-card-actions class="md-alignment-left">
        <md-button class="md-raised md-primary" @click.prevent="reset()">Reset</md-button>
        <md-button class="md-raised md-accent" type="submit">Save to graph</md-button>
        <md-button type="md-raised" @click.prevent="randomize()">Randomize</md-button>
      </md-card-actions>

    </md-card>
    </form>
  </div>
</template>

<script>
  export default {
    name: 'bmi-calculator',
    data() {
      return {
        trainee: {
          height: '',
          weight: '',
          bmi: '',
          message: '',
          className: 'red',
        },
      };
    },
    methods: {
      randomize(){

        let random_height = Math.round(this.randomizeBetweenRange(160, 210))
        // document.write("Random Number Generated : " + random_height );

        let random_weight = Math.round(this.randomizeBetweenRange(45, 100))

        let recored_time = {recored_time: new Date().toLocaleString()};

        this.trainee.bmi = (random_weight / ((random_height / 100) * (random_height / 100))).toFixed(2);

        this.trainee.height = random_height
        this.trainee.weight = random_weight
        console.log(this.trainee[height])
        this.trainee = { ...this.trainee, ...recored_time}
        this.$emit('randomize_trainee', this.trainee)
      },
      randomizeBetweenRange(min,max){
        let random = Math.random() * (+min - +max) + +max;
        return random
      },
      handleSubmitTraineeRecord(){
        // var obj = {key1: "value1", key2: "value2"};
        // var pair = {key3: "value3"};
        // obj = {...obj, ...pair};
        //         From MDN:
        //https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_operator#Spread_in_object_literals
        // It copies own enumerable properties from a provided object onto a new object.
        // Shallow-cloning (excluding prototype) or merging of objects is now possible using a shorter syntax than Object.assign().
        // Note that Object.assign() triggers setters whereas spread syntax doesn’t.
        let recored_time = {recored_time: new Date().toLocaleString()};
        this.trainee = { ...this.trainee, ...recored_time}

        this.$emit('add_trainee', this.trainee)
      },
      isNumeric(input) {
        return !isNaN(parseFloat(input)) && isFinite(input);
      },
      isValid(input) {
        if (input !== '' && this.isNumeric(input)) {
          if (input > 3) {
            return true;
          }
        }
        return false;
      },
      calculate() {
        if (this.isValid(this.trainee.height) && this.isValid(this.trainee.weight)) {
          this.trainee.bmi = (this.trainee.weight / ((this.trainee.height / 100) * (this.trainee.height / 100))).toFixed(2);
          this.createMessage(this.trainee.bmi);
        }
      },
      createMessage(number) {
        if (number > 59.99) {
          this.trainee.message = 'Obese Class VI (Hyper Obese)';
          this.className = 'red';
        } else if (number > 49.99) {
          this.trainee.message = 'Obese Class V (Super Obese)';
          this.className = 'red';
        } else if (number > 44.99) {
          this.trainee.message = 'Obese Class IV (Morbidly Obese)';
          this.className = 'red';
        } else if (number > 39.99) {
          this.trainee.message = 'Obese Class III (Very severely obese)';
          this.className = 'red';
        } else if (number > 34.99) {
          this.trainee.message = 'Obese Class II (Severely obese)';
          this.className = 'red';
        } else if (number > 29.99) {
          this.trainee.message = 'Obese Class I (Moderately obese)';
          this.className = 'red';
        } else if (number > 24.99) {
          this.trainee.message = 'Overweight';
          this.className = 'red';
        } else if (number > 18.49) {
          this.trainee.message = 'Normal (healthy weight)';
          this.className = 'green';
        } else if (number > 15.99) {
          this.trainee.message = 'Underweight';
          this.className = 'red';
        } else if (number > 14.99) {
          this.trainee.message = 'Severely underweight';
          this.className = 'red';
        } else {
          this.trainee.message = 'Very severely underweight';
          this.className = 'red';
        }
      },
      reset() {
        this.trainee.height = '';
        this.trainee.weight = '';
        this.trainee.bmi = '';
        this.trainee.message = '';
      },
    },
  }
</script>

<style scoped>
  .mdl-card__title h4 span {
  font-size: 16px;
  }
  .gray {
    color: #999;
  }
  .red {
    color: #ff4081;
  }
  .green {
    color: green;
  }
</style>
