<% if Rails.env.production? %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["google_analytics"]%>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= ENV["google_analytics"] %>');
    </script>
<% end %>