!!!
%html(lang=locale)
  %head
    = render 'shared/head'
  %body
    %header            
      = render 'shared/header'

    .container.tag-line
      .text-center.d-flex.flex-row.justify-content-center.flex-wrap   
        - @all_tags.each do |tag|
          = link_to (tag) do       
            %h5.ml-2.mt-2
              %span.badge.badge-pill.badge-secondary.tag-badge
                = tag.name
      
    .container
      .row                
        .col-lg-9.col-12(style = "margin: 0px 0px;")
          = yield 
        .col-lg-3.col-md-12.d-none.d-lg-block(style = "padding: 0px; margin: 0px ")
          = render 'shared/left_list'

    
    %footer      
      = render 'shared/footer'
