!!!
%html
  %head
    = render 'shared/head'
  %body
    %header            
      -# = render 'shared/simple_header'
    .container-fluid
      = yield                 
    %footer
      = render 'shared/footer'
