!!!
%html
  %head
    = render 'shared/head'
  %body
    %header            
      -# = render 'shared/header'
    .container-fluid      
      .donate
        .wrapping-div
          .top-left-corner          
            -# = link_to "Back", :back
            %a.btn.btn-outline-light(href=home_path role="button") Home
          .center-div
            .please-donate.text-center
              %h1
                Donate
              %p
                please help so I can keep developing the platform and bring great quality, thanks so much
            .row.donate-methods          
              .col-4.method-1
                
              .col-4.method-2
                .text-center.bounce
                  = link_to image_tag("https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/127997158/original/a9dfde2bc608c350b4e9f76541a47a26be3c4bab/installation-and-setup-of-streamlabs-obs.jpg", 
                              size: "320x320", 
                              alt: "Edit Entry", 
                              class: "img-fluid rounded"), "https://www.streamlabs.com/InspirationalContent"
                .text-center.method-name
                  %h1 
                    Donate via stream lab
              .col-4.method-3
              


    
    %footer
      = render 'shared/footer'
