<template>
  <div id="middle-body">
    <div class="md-layout">
            <!-- {{ test_message }} -->
          </div>

      <div class="md-layout md-gutter">
        <div class="md-layout-item md-size-35 md-medium-size-100 bmi-info">
          <div class="bmi-calculator">
            <bmi-calculator @add_trainee="addTraineeRecord" @randomize_trainee="addTraineeRecord"/>
          </div>
        </div>
        <div class="md-layout-item md-size-65 md-medium-size-100 bmi-graph">
          <bmi-graph :trainee_records="trainee_records"  :line_graph_updated="local_line_graph_updated" ref="form"/>
        </div>
        <div class="md-layout md-gutter bmi-graph-wrapper">
          <div class="md-layout-item bmi-graph ">
            <bmi-data-table v-bind:trainee_records="trainee_records" />
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import BmiGraph from './BmiGraph/BmiGraph.vue'
import BmiCalculator from './BmiCalculator/BmiCalculator.vue'
import BmiDataTable from './BmiDataTable/BmiDataTable.vue'
export default {
  name: 'middle-body',
  components: {
    BmiGraph,
    BmiCalculator,
    BmiDataTable
  },
  data() {
    return {
      trainee_records:[{
          id: 1,
          bmi: 24.07,
          className: "red",
          height: "180",
          message: "Overweight",
          weight: "78",
          recored_time: '7/7/95, 10:10:10'
        },
        {
          id: 2,
          bmi: 25.00,
          className: "red",
          height: "200",
          message: "Overweight",
          weight: "100",
          recored_time: '7/7/95, 10:10:50'
        }],
      local_line_graph_updated: null
    }
  },
  methods: {
    addTraineeRecord(trainee) {
      console.log(trainee[height]);
      console.log(trainee);
      const lastId =
        this.trainee_records.length > 0
          ? this.trainee_records[this.trainee_records.length - 1].id
          : 0;
      const id = lastId + 1;
      const newTraineeRecord = { ...trainee, id };

      this.trainee_records = [...this.trainee_records, newTraineeRecord]
      this.$refs.form.fillData()
    },
    changeLineGraphUpdated(line_graph_updated){
      this.local_line_graph_updated = line_graph_updated
      // alert(this.local_line_graph_updated)
    }
  }
}
</script>

<style lang="scss" scoped>
  #middle-body{
    // background-color: green;

    .bmi-calculator{
      // margin-: 0px;
      padding-top: 5px;
      margin-bottom: 20px;
    }
    .bmi-info{
      // padding-right: 15px;
    }
    .bmi-graph{
      margin-bottom: 20px;
    }
    .bmi-graph-wrapper{
      max-width: 100%;
      // background-color: green;
      .bmi-graph{
        // background-color: green;
        max-width: 100%;
      }
    }
  }
</style>
