- if user_signed_in? && current_user.admin
  %p#notice= notice
  %h1 Inventory Item Categories
  %table
    %thead
      %tr
        %th Category name
        %th(colspan="3")
    %tbody
      - @tags.each do |tag|
        %tr
          %td= tag.name
          %td= link_to 'Show', tag
          %td= link_to 'Edit', edit_tag_path(tag)
          %td= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Inventory Item Category', new_tag_path
- else
  .card(style = "margin: 0px 0px;")
    .card-header
      %h4
        Tagged Videos
    .card-body
      .row
        - @tags.each do |tag| 
          = link_to tag_path(tag) do
            .card.text-center.col-lg-3.col-md-4.col-6.border-0(style = "margin: 0px 0px;")                      
              = image_tag (tag.image.url ), :class => "img card-img-top", alt:"tag image"
              .card-body       
                .tag-card-title 
                  = tag.name
                %p.card-text                            
                  = link_to 'Explore', tag, class: 'btn button btn-danger'
