- if user_signed_in? && current_user.admin
  
- else
.card
  .card-header
    = @tag.name  
  .card-body      
    -# %iframe(allowfullscreen="" frameborder="0" height="400px" src="https://niceporn.s3-ap-southeast-1.amazonaws.com/video-prod/Best+5+Minute+Abs+Workout+-+FLEX+FRIDAY+(HD-720p).mp4" width="100%")    
    -# = video_tag(["https://firebasestorage.googleapis.com/v0/b/funniq-78dbd.appspot.com/o/funniq_development%2Fu12-65-1569754278666?alt=media&token=23ca3baa-0354-4a89-861b-1911f3c14dfa", "https://niceporn.s3-ap-southeast-1.amazonaws.com/video-prod/Best+5+Minute+Abs+Workout+-+FLEX+FRIDAY+(HD-720p).mp4"], size: "160x120")        
    //%a.btn.btn-primary
    //  = link_to 'Details', article
    //= link_to 'Details', @article, :class => "a btn btn-primary"
    .row              
      - @tag_videos.each do |article|
        .col-6          
          = render 'shared/article_container' , article: article
        
  .card-footer.text-muted
    -# = render 'shared/smart_backlink'


