h1 Listing article_model_records

table
  thead
    tr
      th Article
      th Model
      th
      th
      th

  tbody
    - @article_model_records.each do |article_model_record|
      tr
        td = article_model_record.article
        td = article_model_record.model
        td = link_to 'Show', article_model_record
        td = link_to 'Edit', edit_article_model_record_path(article_model_record)
        td = link_to 'Destroy', article_model_record, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Article model record', new_article_model_record_path
