p#notice = notice

p
  strong Article:
  = @article_model_record.article
p
  strong Model:
  = @article_model_record.model

=> link_to 'Edit', edit_article_model_record_path(@article_model_record)
'|
=< link_to 'Back', article_model_records_path
