<p class="login-box-msg">Edit <%= resource_name.to_s.humanize %></p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group has-feedback">
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
    <span class='glyphicon glyphicon-envelope form-control-feedback'></span>
  </div>

  <div class="form-group has-feedback">
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password' %>
    <span class='glyphicon glyphicon-lock form-control-feedback'></span>
  </div>

  <div class="form-group has-feedback">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
    <span class='glyphicon glyphicon-lock form-control-feedback'></span>
  </div>

  <div class="form-group has-feedback">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password Confirmation' %>
    <span class='glyphicon glyphicon-lock form-control-feedback'></span>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.submit "Update", class: 'btn btn-success btn-block btn-flat' %>
    </div>
    <div class="col-xs-4">
      <%= link_to "Cancel", home_path, class: 'btn btn-danger btn-block btn-flat' %>
      <%# <%= f.submit "Cancel", class: 'btn btn-danger btn-block btn-flat' %> 
    </div>
  </div>
<% end %>
