@model tdg_paraphrase_netcore.Models.Post

<h2>View To-Do Item Details</h2>

<div>
    <h4>Item</h4>
    <hr />    
    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://firebasestorage.googleapis.com/v0/b/hd-project-fce20.appspot.com/o/meal1.webm?alt=media&token=794c5caa-682f-4648-a454-4b605f83c330"></iframe>
    </div>
</div>

