<%# # views/devise/menu/_login_items.html.erb %>
<% if user_signed_in? %>  
  <%= link_to('Logout', destroy_user_session_path, method: :delete, :style => "color: white; text-decoration: none") %>          
<% else %>  
  <%= link_to('Login', new_new_user_session_path, :style => "color: white; text-decoration: none") %>      
<% end %>