<% if user_signed_in? %>  
  <%= link_to('Edit info', edit_user_registration_path, :style => "color: white; text-decoration: none")  %>  
<% else %>  
  <%= link_to('Register', new_user_registration_path, :style => "color: white; text-decoration: none") %>  
<% end %>