<p class="login-box-msg">Sign in to start your session</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group has-feedback">
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
    <span class='glyphicon glyphicon-envelope form-control-feedback'></span>
  </div>

  <div class="form-group has-feedback">
    <%= f.password_field :password, autofocus: true, class: 'form-control', placeholder: 'Password' %>
    <span class='glyphicon glyphicon-lock form-control-feedback'></span>
  </div>

  <div class="row">
    <% if devise_mapping.rememberable? -%>
      <div class="col-xs-4">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="col-xs-4">
      <%= f.submit "Log in", class: 'btn btn-success btn-block btn-flat' %>
    </div>
    <div class="col-xs-4">
      <%= link_to "Cancel", home_path, class: 'btn btn-danger btn-block btn-flat' %>
    </div>
  </div>
<% end %>
