h1 Listing article_idol_records

table
  thead
    tr
      th Article
      th Idol
      th
      th
      th

  tbody
    - @article_idol_records.each do |article_idol_record|
      tr
        td = article_idol_record.article
        td = article_idol_record.idol
        td = link_to 'Show', article_idol_record
        td = link_to 'Edit', edit_article_idol_record_path(article_idol_record)
        td = link_to 'Destroy', article_idol_record, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Article idol record', new_article_idol_record_path
