p#notice = notice

p
  strong Article:
  = @article_idol_record.article
p
  strong Idol:
  = @article_idol_record.idol

=> link_to 'Edit', edit_article_idol_record_path(@article_idol_record)
'|
=< link_to 'Back', article_idol_records_path
